In [7]:
num=5
word='five'

num,word

(5, 'five')

In [10]:
print('wee {one} is {two}'.format(one=num,two=word))

wee 5 is five

In [11]:
nest=[1,2,[3,4]]
nest[2][1]

4

In [15]:
my_set=set([1,2,2,3,3,3,4,4,4,4,5])
my_set

{1, 2, 3, 4, 5}

In [16]:
my_set.add(6)

In [18]:
my_set

{1, 2, 3, 4, 5, 6}

In [23]:
import pandas as pd

In [26]:
my_list=[['a','b','c'],['test1','test',None ],[None,'001',100]]
my_list

[['a', 'b', 'c'], ['test1', 'test', None], [None, '001', 100]]

In [29]:
mydf=pd.DataFrame(my_list)
mydf

       0     1     2
0      a     b     c
1  test1  test  None
2   None   001   100

In [34]:
mydf.where((pd.isnull(mydf)),inplace=False)

      0    1     2
0   NaN  NaN   NaN
1   NaN  NaN  None
2  None  NaN   NaN